/**
 * base.css: Base CSS for QuiqMultiline
 */
.rn_QuiqMultiline.rn_Multiline ol {
  padding: 0;
  margin: 0;
}

button[quiq-message-sender] {
  margin-top: 10px;
  display: block;
}

.rn_Element3{
	font-size: 12px;
}

.rn_Element1{
	font-size: 13px;
}

button:not([type="submit"]){
	width: 70%;
	margin: 6px auto;
}

span.rn_Element2{
	display: none;
}