/**
 * base.css: Base CSS for CallToActionBox
 */
.rn_CallToActionBox {
	/* removed 2022
    text-align: center;
    min-height: 200px;
    border: 1px #001f5b solid;
    */
   	font-family: 'Montserrat';
	font-style: normal;
}
.rn_CallToActionBox.rn_CallToActionBox25 {
	width: 22%;
	margin: 15px 10px 30px;
    position: relative;
    float: left;
}
.rn_CallToActionBox.rn_CallToActionBox33 {
	width: 31%;
	margin: 16px;
    position: relative;
    float: left;
}
.rn_CallToActionBox.rn_CallToActionBox50 {
	width: 49%;
    position: relative;
    float: left;
}
.rn_CallToActionBox.rn_CallToActionBox50wMargin {
	width: 47%;
	margin: 10px 10px 30px;
    position: relative;
    float: left;
}
.rn_CallToActionBox.rn_CallToActionBox100 {
	width: 100%;
    position: relative;
    float: left;
}
.rn_CallToActionBox.rn_CallToActionBox100wMargin {
	width: 96%;
    position: relative;
    float: left;
}
.rn_CallToActionBox .rn_CallToActionContainer {
	padding-top: 20px;
	padding-bottom: 40px;
}
.rn_CallToActionBox.rn_CallToActionBox25 .rn_CallToActionContainer {
	padding: 10px 10px 20px;

}
.rn_CallToActionBox .rn_CallToActionDesc h3 {
	padding: 20px 0px 5px;
	margin-bottom: 5px;
}
.rn_CallToActionBox.rn_CallToActionBox25 .rn_CallToActionDesc h3 {
	font-size: 16px;
	text-align: left;
}
.rn_CallToActionBox.rn_CallToActionBox25 .rn_CallToActionDesc {
	text-align: left;
	min-height: 100px;
}
.rn_CallToActionBox .rn_CallToActionButtons {
	margin-top: 20px;
}
.rn_CallToActionBox .rn_CallToActionButtons div {
	min-height: 40px;
    border: 1px solid white;
    width: 40%;
    margin: 0 auto;
    display: inline-block;
    padding-top: 10px;
    max-width: 210px;
}
.rn_CallToActionBox.rn_CallToActionBox25 .rn_CallToActionButtons.rn_CallToActionBox25 div {
	width: 100%;
	margin: 0px;
	font-weight: bold;
	color: #01abf1;
	text-align: left;
	min-height: 20px;
}

.rn_CallToActionBox.rn_ServiceCenterLocator {
	background-color: #001f5b;
	color: #fff;
}
.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionButtons.rn_ServiceCenterLocator div, 
.rn_CallToActionBox.rn_AppSupport .rn_CallToActionButtons.rn_AppSupport div,
.rn_CallToActionBox.rn_TouchlessTroubleshooting .rn_CallToActionButtons.rn_TouchlessTroubleshooting div {
	background-color: #fff;
	font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0em;
    color: #00205b;
    text-decoration: underline;
}
.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionButtons.rn_ServiceCenterLocator div a,
.rn_CallToActionBox.rn_AppSupport .rn_CallToActionButtons.rn_AppSupport div a,
.rn_CallToActionBox.rn_TouchlessTroubleshooting .rn_CallToActionButtons.rn_TouchlessTroubleshooting div a {
	font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0em;
    color: #00205b;
    text-decoration: underline;
}
.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionButtons.rn_ServiceCenterLocator div:hover, 
.rn_CallToActionBox.rn_AppSupport .rn_CallToActionButtons.rn_AppSupport div:hover,
.rn_CallToActionBox.rn_TouchlessTroubleshooting .rn_CallToActionButtons.rn_TouchlessTroubleshooting div:hover,
.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionButtons.rn_ServiceCenterLocator div a:hover,
.rn_CallToActionBox.rn_AppSupport .rn_CallToActionButtons.rn_AppSupport div a:hover,
.rn_CallToActionBox.rn_TouchlessTroubleshooting .rn_CallToActionButtons.rn_TouchlessTroubleshooting div a:hover
{
    color: #0078a8;
}
.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionDesc span.rn_CallToActionSubText,
.rn_CallToActionBox.rn_AppSupport .rn_CallToActionDesc span.rn_CallToActionSubText {
	display:none;	
}
.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionButtons div,
.rn_CallToActionBox.rn_AppSupport .rn_CallToActionButtons div,
.rn_CallToActionBox.rn_TouchlessTroubleshooting .rn_CallToActionButtons div {
	width: 100%;
    min-height: auto;
    padding-top: 0px;
}
.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionButtons a div.rn_Desktop, .rn_CallToActionBox.rn_AppSupport .rn_CallToActionButtons a div.rn_Desktop {
	display: inline-block;
}
.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionButtons a div.rn_Mobile, .rn_CallToActionBox.rn_AppSupport .rn_CallToActionButtons a div.rn_Mobile {
	display: none;
}
.rn_CallToActionBox.rn_OrderSupport {
	background-color: #fff;
	color: #001f5b;
}
.rn_CallToActionBox.rn_OrderSupport .rn_CallToActionButtons.rn_OrderSupport div {
	background-color: #001f5b;
	color: #fff;
	border: 1px solid #001f5b;
}
.rn_CallToActionBox.rn_OrderSupport .rn_CallToActionButtons.rn_OrderSupport div:hover {
	background-color: #00417d;
	color: #fff;
	border: 1px solid #00417d;
}
.rn_CallToActionBox.rn_OrderSupport .rn_CallToActionButtons.rn_OrderSupport div a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
.rn_CallToActionBox.rn_ContactUsTemplateSection {
	border: none;
	border-top: #001f5b solid 2px;
}

.rn_CallToActionBox.rn_ContactUsTemplateSection .rn_CallToActionDesc h3 {
	font-size: 2em;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 0px;
}
.rn_CallToActionBox.rn_ContactUsTemplateSection .rn_CallToActionButtons.rn_ContactUsTemplateSection div {
	background-color: #001f5b;
	color: #fff;
	border: 1px solid #001f5b;
}
.rn_CallToActionBox.rn_ContactUsTemplateSection .rn_CallToActionButtons.rn_ContactUsTemplateSection div:hover {
	background-color: #00417d;
	color: #fff;
	border: 1px solid #00417d;
}
.rn_CallToActionBox.rn_ContactUsTemplateSection .rn_CallToActionButtons.rn_ContactUsTemplateSection div a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
.rn_CallToActionBox.rn_ContactUsMoreOptions {
	background: #FFFFFF;
	box-shadow: none;
	border-radius: 0px;
}
/*WDMR Form CTA Buttons */
.rn_CallToActionBox.rn_WDRMform {
	border: none;
	border-top:none;
}
.rn_CallToActionBox.rn_WDRMform .rn_CallToActionButtons.rn_WDRMform div {
    background-color: #0078a8;
    color: #fff;
    border: 1px solid #0078a8;
    border-radius: 5px;
    padding-top: 0.5rem;
}
.rn_CallToActionBox.rn_WDRMform .rn_CallToActionButtons.rn_WDRMform div a {
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.5rem 1rem;
    font-size: .875rem;
    line-height: 1.5;
    text-decoration: none;
}
/**** Contact Us Page CTA Widgets  ****/
.rn_CallToActionBox.rn_ContactUsButtons {
	background-color: #fff;
	color: #001f5b;
}
.rn_CallToActionBox.rn_ContactUsButtons .rn_CallToActionButtons.rn_ContactUsButtons div {
	background-color: #001f5b;
	color: #fff;
	border: 1px solid #001f5b;
}
.rn_CallToActionBox.rn_ContactUsButtons .rn_CallToActionButtons.rn_ContactUsButtons div a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
}
.rn_CallToActionDesc span {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	left: 0.25em;
	right: 0.25em;
	position: relative;
	white-space: pre-wrap;
}
.rn_ContactUsChat.rn_ContactUsButtons .rn_CallToActionContainer .rn_ImageContainer {
	padding-top: 0px;
}
.rn_ContactUsEmail.rn_ContactUsButtons .rn_CallToActionContainer .rn_ImageContainer {
	padding-top: 0px;
}
/* Contact Us Footer */
.rn_CallToActionBox.rn_ContactUsFooterButtons {
	background-color: #F1FCFF;
}
.rn_CallToActionBox.rn_ContactUsFooterMoreButtons {
	min-height: 120px;
}
.rn_CallToActionBox.rn_ContactUsSurveyLink {
	min-height: 80px;
}
.rn_ContactUsFooterButtons {
	border: none;
}
.rn_CallToActionBox.rn_ContactUsFooterButtons .rn_CallToActionButtons.rn_ContactUsFooterButtons div {
	background-color: #0074B0;
    color: #fff;
    border: 1px solid #0074B0;
    border-radius: 4px;
    padding: 8px 24px;
    width: 100%;
}
.rn_CallToActionBox .rn_CallToActionButtons.rn_ContactUsFooterButtons {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
}
.rn_CallToActionBox .rn_CallToActionButtons.rn_ContactUsFooterButtons .rn_CallToActionButton1 {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    float: none;
 }
.rn_CallToActionBox.rn_ContactUsFooterButtons .rn_CallToActionDesc h3 {
	/*Dana wanted these set at H4 styles */
	font-weight: 600;
	font-size: 18px;
	line-height: 1.3;
	color: #000;
	/* Inside auto layout */
	flex: none;
	order: 2;
	flex-grow: 0;
}
.rn_CallToActionBox.rn_ContactUsFooterButtons .rn_CallToActionFooter {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #000;
	margin-top: 8px;
}
.rn_ContactUsChat.rn_ContactUsFooterButtons .rn_CallToActionContainer .rn_ImageContainer {
	padding-top: 0px;
}
.rn_ContactUsEmail.rn_ContactUsFooterButtons .rn_CallToActionContainer .rn_ImageContainer {
	padding-top: 0px;
}
.rn_ContactUsEmail.rn_ContactUsFooterButtons .rn_CallToActionContainer .rn_ImageContainer img {
	height: 47px;
}
.rn_CallToActionBox.rn_ContactUsFooterMoreButtons .rn_CallToActionDesc h3 {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	color: #000;
	padding: 16px 0px 0px;
    margin-bottom: 0px;
}
.rn_CallToActionBox.rn_ContactUsFooterMoreButtons .rn_CallToActionDesc span {
	display: none;
}
.rn_CallToActionBox.rn_ContactUsFooterMoreButtons .rn_CallToActionButtons.rn_ContactUsFooterButtons div {
	background: #011F5A;
	border-color: #011F5A;
	border-radius: 4px;
}
.rn_ContactUsFooterMoreButtons {
	padding-top: 0px;
}
.rn_CallToActionBox.rn_CallToActionBox33.rn_ContactUsFooterButtons {
	margin-bottom: 0px;
}
.rn_CallToActionBox.rn_CallToActionBox100wMargin.rn_ContactUsFooterButtons {
	margin-bottom: 30px;
}
.rn_ContactUsFooterMoreButtons {
	padding-top: 0px;
}
.rn_CallToActionBox.rn_ContactUsFooterButtons .rn_SpecialHeadline {
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #0074B0;
	padding-bottom: 5px;
}
.rn_CallToActionBox.rn_ContactUsFooterButtons.rn_ContactUsChat .rn_SpecialHeadline {
	margin-top: -15px;
}
.rn_CallToActionBox.rn_ContactUsFooterButtons .rn_CallToActionContainer {
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: center;
}
.rn_CallToActionBox.rn_ContactUsFooterMoreButtons .rn_CallToActionButtons.rn_ContactUsFooterButtons div {
	background: #011F5A;
	border-color: #011F5A;
	border-radius: 4px;
}
.rn_CallToActionBox.rn_ContactUsSurveyLink .rn_CallToActionButtons.rn_ContactUsFooterButtons div {
	background: transparent;
	border-color: transparent;
	border-radius: 0px;
	padding-top: 0px;
}
.rn_CallToActionBox.rn_ContactUsSurveyLink .rn_CallToActionButtons.rn_ContactUsButtons div a {
	color: #0074B0;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
}
/* SAME AS .rn_CallToActionBox100 */
.rn_ContactUsFooterButtons.rn_CallToActionBoxSingle {
	width: 96%;
    position: relative;
    float: left;
}
.rn_CallToActionButtons.rn_CallToActionBoxSingle {

}
/* SAME AS rn_CallToActionBox50wMargin */
.rn_ContactUsFooterButtons.rn_CallToActionBoxDouble {
	width: 47%;
	margin: 10px 10px 30px;
    position: relative;
    float: left;
}
.rn_CallToActionButtons.rn_CallToActionBoxDouble {

}
/* SAME AS rn_CallToActionBox33 */
.rn_ContactUsFooterButtons.rn_CallToActionBoxTriple {
	width: 33%;
	margin: 0px;
    position: relative;
    float: left;
}
.rn_CallToActionButtons.rn_CallToActionBoxTriple {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.rn_CallToActionBox.rn_ContactUsFooterButtons .rn_CallToActionContainer .rn_CallToActionDesc span.rn_CallToActionSubText {
	display: none;
}
/* Contact Us 2022 Page Updates */
#rn_ContactUsOptions .rn_CallToActionBox.rn_ContactUs2022 {
	min-height: 300px;
	width: 30%;
}
.rn_CallToActionBox.rn_ContactUsFooterMoreButtons {
	min-height: 120px;
}
.rn_CallToActionBox.rn_ContactUsSurveyLink {
	min-height: 80px;
}
.rn_ContactUs2022 {
	border: none;
}
.rn_CallToActionBox.rn_ContactUs2022 .rn_CallToActionButtons.rn_ContactUs2022 div {
	background-color: #0074B0;
    color: #fff;
    border: 1px solid #0074B0;
    border-radius: 4px;
    padding: 8px 24px;
    width: 100%;
}
.rn_CallToActionBox .rn_CallToActionButtons.rn_ContactUs2022 {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
}
.rn_CallToActionBox .rn_CallToActionButtons.rn_ContactUs2022 .rn_CallToActionButton1 {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    float: none;
 }
.rn_CallToActionBox.rn_ContactUs2022 .rn_CallToActionDesc h3 {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	/* Inside auto layout */
	flex: none;
	order: 2;
	flex-grow: 0;
}
.rn_CallToActionBox.rn_ContactUs2022 .rn_CallToActionFooter {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000;
	margin-top: 8px;
}
.rn_ContactUsChat.rn_ContactUs2022 .rn_CallToActionContainer .rn_ImageContainer {
	padding-top: 0px;
}
.rn_ContactUsEmail.rn_ContactUs2022 .rn_CallToActionContainer .rn_ImageContainer {
	padding-top: 0px;
}
.rn_ContactUsEmail.rn_ContactUs2022 .rn_CallToActionContainer .rn_ImageContainer img {
	height: 47px;
}
.rn_CallToActionBox.rn_ContactUsSurveyLink .rn_CallToActionDesc h3 {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #202020;
	margin-top: 0px;
	padding-top: 0px;
}
.rn_CallToActionBox.rn_CallToActionBox33.rn_ContactUs2022 {
	margin-bottom: 15px;
	min-height: 250px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
}
.rn_CallToActionBox.rn_CallToActionBox50wMargin.rn_ContactUs2022 {
	margin-bottom: 15px;
	min-height: 250px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
}
.rn_CallToActionBox.rn_CallToActionBox100.rn_ContactUs2022 {
	margin-bottom: 15px;
	min-height: 250px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
}
.rn_CallToActionBox.rn_CallToActionBox100wMargin.rn_ContactUs2022 {
	margin-bottom: 30px;
}
.rn_ContactUsFooterMoreButtons {
	padding-top: 0px;
}
.rn_CallToActionBox.rn_ContactUs2022 .rn_SpecialHeadline
{
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #0074B0;
	padding-bottom: 5px;
}
.rn_CallToActionBox.rn_ContactUs2022.rn_ContactUsChat .rn_SpecialHeadline {
	margin-top: -15px;
}
.rn_CallToActionBox.rn_ContactUs2022 .rn_CallToActionContainer {
	padding-bottom: 10px;
	padding-top: 0px;
	margin-top: 20px;
	min-height: 300px;
}
.rn_CallToActionBox.rn_ContactUsFooterMoreButtons .rn_CallToActionButtons.rn_ContactUs2022 div {
	background: #011F5A;
	border-color: #011F5A;
	border-radius: 4px;
}
.rn_CallToActionBox.rn_ContactUsSurveyLink .rn_CallToActionButtons.rn_ContactUs2022 div {
	background: transparent;
	border-color: transparent;
	border-radius: 0px;
	padding-top: 0px;
}
.rn_CallToActionBox.rn_ContactUsSurveyLink .rn_CallToActionButtons.rn_ContactUsButtons div a {
	color: #0074B0;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
}
/* SAME AS .rn_CallToActionBox100 */
.rn_ContactUs2022.rn_CallToActionBoxSingle {
	width: 96%;
    position: relative;
    float: left;
}
.rn_CallToActionButtons.rn_CallToActionBoxSingle {

}
/* SAME AS rn_CallToActionBox50wMargin */
.rn_ContactUs2022.rn_CallToActionBoxDouble {
	width: 47%;
	margin: 10px 10px 30px;
    position: relative;
    float: left;
}
.rn_CallToActionButtons.rn_CallToActionBoxDouble {

}
/* SAME AS rn_CallToActionBox33 */
.rn_ContactUs2022.rn_CallToActionBoxTriple {
	width: 30%;
	margin: 15px 15px 0px;
    position: relative;
    float: left;
}
.rn_CallToActionButtons.rn_CallToActionBoxTriple {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.rn_CallToActionBox.rn_ContactUs2022 .rn_CallToActionContainer .rn_CallToActionDesc span.rn_CallToActionSubText {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000;
	display: block;
	padding: 0px 0px 8px 0px;
    max-width: 224px
}
/* Repairs Touchless Troubleshooting */
.rn_RepairInstructionsSubheadline {
	width: 301px;
	height: 71px;

	/* Paragraph */
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-align: center;

	color: #3F3F3F;


	/* Inside auto layout */
	flex: none;
	order: 2;
	align-self: stretch;
	flex-grow: 0;
}
#rn_ContactUsOptions .rn_CallToActionBox.rn_RepairSummary {
	min-height: 250px;
	width: 30%;
}
.rn_RepairSummary {
	border: none;
}
/* .rn_CallToActionBox.rn_RepairSummary div { */
	/* background-color: #0074B0; */
    /* color: #fff; */
    /* border: 1px solid #0074B0; */
    /* border-radius: 4px; */
    /* padding: 8px 24px; */
    /* width: 100%; */
/* } */
.rn_CallToActionBox .rn_CallToActionButtons.rn_RepairSummary {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
}
.rn_CallToActionBox .rn_CallToActionButtons.rn_RepairSummary .rn_CallToActionButton1 {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    float: none;
 }
.rn_CallToActionBox.rn_RepairSummary .rn_CallToActionDesc h3 {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	/* Inside auto layout */
	flex: none;
	order: 2;
	flex-grow: 0;
}
.rn_CallToActionBox.rn_RepairSummary .rn_CallToActionFooter {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000;
	margin-top: 8px;
}
.rn_CallToActionBox.rn_CallToActionBox33.rn_RepairSummary {
	margin-bottom: 15px;
	min-height: 250px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
}
.rn_CallToActionBox.rn_CallToActionBox100wMargin.rn_RepairSummary {
	margin-bottom: 30px;
}
.rn_CallToActionBox.rn_RepairSummary .rn_SpecialHeadline
{
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #0074B0;
	padding-bottom: 5px;
}
.rn_CallToActionBox.rn_RepairSummary.rn_ContactUsChat .rn_SpecialHeadline {
	margin-top: -15px;
}
.rn_CallToActionBox.rn_RepairSummary .rn_CallToActionContainer {
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 20px;
}
.rn_CallToActionBox.rn_ContactUsFooterMoreButtons .rn_CallToActionButtons.rn_RepairSummary div {
	background: #011F5A;
	border-color: #011F5A;
	border-radius: 4px;
}
.rn_CallToActionBox.rn_ContactUsSurveyLink .rn_CallToActionButtons.rn_RepairSummary div {
	background: transparent;
	border-color: transparent;
	border-radius: 0px;
	padding-top: 0px;
}
/* SAME AS .rn_CallToActionBox100 */
.rn_RepairSummary.rn_CallToActionBoxSingle {
	width: 96%;
    position: relative;
    float: left;
}
/* SAME AS rn_CallToActionBox50wMargin */
.rn_RepairSummary.rn_CallToActionBoxDouble {
	width: 47%;
	margin: 10px 10px 30px;
    position: relative;
    float: left;
}
/* SAME AS rn_CallToActionBox33 */
.rn_RepairSummary.rn_CallToActionBoxTriple {
	width: 30%;
	margin: 15px 15px 0px;
    position: relative;
    float: left;
}
.rn_CallToActionBox.rn_RepairSummary .rn_CallToActionContainer .rn_CallToActionDesc span.rn_CallToActionSubText {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000;
	display: block;
	padding: 0px 0px 8px 0px;
    max-width: 300px
}
.rn_CallToActionBox.rn_RepairSummary.rn_TT .rn_CallToActionContainer .rn_CallToActionDesc span.rn_CallToActionSubText {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000;
	display: block;
	padding: 0px 8px 8px 8px;
    max-width: 300px
}
/* WDMR */
#rn_WDMR_BUTTONS .rn_CallToActionBox.rn_ContactUsTemplateSection .rn_CallToActionButtons.rn_ContactUsTemplateSection div {
    background-color: #001f5b;
    color: #fff;
    border: 1px solid #001f5b;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.5rem 1rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #0078a8;
    border-color: #0078a8;
    box-shadow: 0 0 0 transparent;
    text-decoration: none;
    border-color: #0078a8;
    margin-right: 10px;
}
#rn_WDMR_BUTTONS .rn_CallToActionBox.rn_WDMRNarVarCallToActionBox {
	border-top:none;
}

/* RETURNS 2022 */
.rn_Returns2022.rn_CallToActionBox {
	text-align: left;
	border: none;
	background: #FFFFFF;
	border-radius: 4px;
}
.rn_Returns2022 .rn_CallToActionBox .rn_CallToActionContainer {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 24px;
	padding-right: 24px;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	min-height: 190px;
}
.rn_Returns2022.rn_Returns2022_Box1.rn_CallToActionBox {
	/* border-right: 1px solid #E0E0E0; */
	margin-right: 16px;
}
.rn_Returns2022.rn_CallToActionBox .rn_CallToActionDesc h3 {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #000;
}
.rn_Returns2022 .rn_CallToActionDesc span {
	padding: 0px;
	margin: 0px;
	left: auto;
	right: auto;
}
.rn_Returns2022.rn_CallToActionBox .rn_CallToActionButtons div {
	background: #0074B0;
	color: #ffffff;
	text-align: center;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
	border-radius: 4px;
	margin: 0px auto;
	min-height: 44px;
    min-width: 232px;
    vertical-align: middle;
}
.rn_Returns2022.rn_CallToActionBox .rn_CallToActionButtons div a {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
}
.rn_Returns2022.rn_CallToActionBox .rn_CallToActionButtons {
	padding: 5px 16px;
	margin: 0px auto;
	width: 100%;
	text-align: center;
}
.rn_Returns2022_Steps.rn_CallToActionBox.rn_CallToActionBox33 {
	width: 32%;
}
.rn_Returns2022_Steps.rn_CallToActionBox {
	border: none;
	background: #FFFFFF;
	border-radius: 4px;
	min-height: 280px;
	max-height: 360px;
}
.rn_Returns2022_Steps.rn_CallToActionBox.rn_Returns2022_Step1 {
	margin: 16px 20px 16px 0px;
}
.rn_Returns2022_Steps.rn_CallToActionBox.rn_Returns2022_Step2 {
	margin: 16px 0px 16px 0px;
}
.rn_Returns2022_Steps.rn_CallToActionBox.rn_Returns2022_Step3 {
	margin: 16px 0px 16px 20px;
}
.rn_Returns2022_Steps.rn_CallToActionBox .rn_CallToActionContainer {
	min-height: 248px;
	max-height: 320px;
}
.rn_Returns2022_Steps.rn_CallToActionBox .rn_CallToActionDesc h3 {
	padding-top: 8px;
}
.rn_Returns2022_Policy.rn_CallToActionBox {
	background: #FFFFFF;
	border-radius: 4px;
	border: none;
	text-align: left;
	padding: 8px;
}
.rn_Returns2022_Policy.rn_CallToActionBox .rn_CallToActionButtons {
	margin: 0px;
	padding: 0px;
	display: none;
}
.rn_Returns2022_Policy.rn_CallToActionBox .rn_CallToActionContainer {
	padding: 16px 32px;
}
.rn_Returns2022_Policy .rn_CallToActionDesc span{
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #000;
}
.rn_Returns2022.rn_CallToActionBox50 {
	margin-bottom: 20px;
}
.rn_CallToActionButtons.rn_Returns2022_Steps {
	display: none;
}

/* CONNECTED PRODUCTS PAGE */
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedApps {
	min-height: 100px
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedApps.rn_CallToActionBox100 {
	border: 0px;
	text-align: left;
	min-height: auto;
	border-bottom: 1px solid #000000; /* #E5E5E5 */
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedApps.rn_CallToActionBox100 .rn_CallToActionContainer {
	padding: 0px;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedApps.rn_CallToActionBox100 .rn_CallToActionButtons div {
	padding-top: 0px;
    min-height: 21px;
    border: 0px;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedApps.rn_CallToActionBox100 .rn_CallToActionH3 {
	font-size: 18px;
	line-height: 20px;
	color: #111111;
	margin:0px;
	padding:0px;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedApps.rn_CallToActionBox100 a {
	color: #000;
	font-size: 14px;
}
.rn_CallToActionButtons.rn_Connected2022.rn_ConnectedApps {
	margin-top: 0px;
	padding-top: 8px;
}
.rn_Connected2022.rn_ConnectedApps .rn_CallToActionDesc span {
	padding: 0px;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedOtherIssues {
	max-height: 250px;
	border: none;
	border-right: 1px solid #E0E0E0;
	margin-top:0px;
	display: inline-block;
    position: relative;
    height: auto;
    border-bottom: 1px solid #E0E0E0;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedOtherIssues .rn_CallToActionContainer .rn_ImageContainer {
	height: 100px;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedOtherIssues .rn_CallToActionContainer .rn_CallToActionDesc {
	height: 0px;
	display: none;

}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedOtherIssues .rn_CallToActionButtons.rn_CallToActionBox25 div {
	border: none;
	text-align: center;
	padding-top:0px;
}
.rn_CallToActionBox .rn_CallToActionButtons.rn_Connected2022.rn_ConnectedOtherIssues {
	padding-top: 0px;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedOtherIssues .rn_CallToActionDesc h3 {
	display: none;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedProductHelpLine {
	border: none;
	min-height: auto;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedProductHelpLine .rn_CallToActionContainer {
	padding: 0px;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedProductHelpLine .rn_CallToActionButtons div {
	background: #0074B0;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	padding: 5px 16px;
	margin-top: 0px;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedProductHelpLine .rn_CallToActionButtons {
	margin-top: 0px;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedProductHelpLine .rn_CallToActionButtons div a {
	color: #ffffff;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedProductHelpLine .rn_CallToActionContainer .rn_CallToActionDesc span {
	height: 0px;
	display: none;
	padding: 0px;
}
.rn_CallToActionBox.rn_Connected2022.rn_ConnectedApps {
	min-height: 100px
}
/* PRODUCT DETAIL 2022 */

/* Home Page 2022 */
.rn_CallToActionBox.rn_OrderStatus, .rn_CallToActionBox.rn_HomeReturns {
	min-height: 224px;
	width: 48%;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
    padding: 30px 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.rn_CallToActionBox.rn_OrderStatus {
    margin-right: 30px;
}
.rn_CallToActionBox.rn_OrderStatus .rn_CallToActionContainer, .rn_CallToActionBox.rn_HomeReturns .rn_CallToActionContainer {
	padding: 0px;
}
.rn_CallToActionBox.rn_OrderStatus .rn_CallToActionContainer .rn_ImageContainer,
.rn_CallToActionBox.rn_HomeReturns .rn_CallToActionContainer .rn_ImageContainer {
	width: 25px;
    margin-right: 10px;
    float: left;
    display: inline-block;
    position: relative;
    margin-top: 5px;
}
.rn_CallToActionBox.rn_OrderStatus .rn_CallToActionContainer .rn_CallToActionDesc,
.rn_CallToActionBox.rn_HomeReturns .rn_CallToActionContainer .rn_CallToActionDesc {
	float: left;
    display: inline-block;
    position: relative;
    width: 80%;
    margin-bottom: 0px;
}
.rn_CallToActionBox.rn_OrderStatus .rn_CallToActionContainer .rn_CallToActionDesc {
	margin-bottom: 20px;
}
.rn_CallToActionBox.rn_OrderStatus .rn_CallToActionContainer .rn_CallToActionDesc h3,
.rn_CallToActionBox.rn_HomeReturns .rn_CallToActionContainer .rn_CallToActionDesc h3 {
	padding-top: 0px;
    margin-top: 0px;
    /* Dana requested these with an H1 font */
    font-weight: 700;
	font-size: 26px;
	line-height: 1.6;
	color: #000;
	letter-spacing: 0em;
}
.rn_CallToActionBox.rn_OrderStatus .rn_CallToActionContainer .rn_CallToActionDesc span,
.rn_CallToActionBox.rn_HomeReturns .rn_CallToActionContainer .rn_CallToActionDesc span {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.3;
	color: #00205b;
}
/* .rn_CallToActionBox.rn_OrderStatus .rn_CallToActionContainer .rn_CallToActionDesc span {
	margin-left: -36px;
} */
.rn_CallToActionButtons.rn_OrderStatus{
	text-align: center;
	margin-top: 0px;
}
.rn_CallToActionBox.rn_OrderStatus .rn_CallToActionButtons div {
	padding: 8px 24px;
	background: #00205b;
	border-radius: 4px;
	margin-top: 15px;
}
.rn_CallToActionBox.rn_OrderStatus .rn_CallToActionButtons div a {
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}
.rn_CallToActionBox.rn_HomeReturns .rn_CallToActionButtons div {
	width: 100%;
    float: left;
    display: inline-block;
    max-width: 100%;
    border: none;
    border-bottom: 1px solid #E5E5E5; 
}
.rn_CallToActionBox.rn_HomeReturns .rn_CallToActionButtons {
	margin-top: 0px;
} 
.rn_CallToActionBox.rn_HomeReturns .rn_CallToActionButtons div a::after {
	background-image: url(/euf/assets/themes/standard-ext/images/rightarrow.png);
	background-repeat: no-repeat;
    margin: 4px auto;
    border: 0px solid transparent;
    float:right;
    background-size: 8px 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    content:"";
}
.rn_CallToActionBox.rn_HomeReturns .rn_CallToActionButtons div a {
	text-decoration: underline;
	text-underline-offset: 4px;	
}
/*.rn_CallToActionBox.rn_HomeReturns .rn_CallToActionButtons div a {
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
} */
#rn_HelpfulResourcesBoxes {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
    float: none;
}
.rn_CallToActionBox.rn_ServiceCenterLocator, .rn_CallToActionBox.rn_AppSupport {
	min-height: 200px;
	width: 33%;
	background: #FFFFFF;
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
	border-radius: 4px;
    padding: 30px 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 16px;
    font-weight: 300;
	color: #000;
	text-align: center;
}
.rn_CallToActionBox.rn_TouchlessTroubleshooting {
	width: 100%;
	background: #FFFFFF;
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
	border-radius: 4px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 16px;
    font-weight: 300;
	color: #000;
}
.rn_CallToActionBox.rn_ServiceCenterLocator {
	margin-right: 30px;
    margin-left: 15%;
    position: relative;
}
.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionContainer,
.rn_CallToActionBox.rn_AppSupport .rn_CallToActionContainer,
.rn_CallToActionBox.rn_TouchlessTroubleshooting .rn_CallToActionContainer {
	padding: 0px;
}
.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionButtons,
.rn_CallToActionBox.rn_AppSupport .rn_CallToActionButtons,
.rn_CallToActionBox.rn_TouchlessTroubleshooting .rn_CallToActionButtons {
	margin-top: 0px;
}
.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionContainer .rn_CallToActionButtons div a,
.rn_CallToActionBox.rn_AppSupport .rn_CallToActionContainer .rn_CallToActionButtons div a,
.rn_CallToActionBox.rn_TouchlessTroubleshooting .rn_CallToActionContainer .rn_CallToActionButtons div a {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #00205b;
}
.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionDesc h3,
.rn_CallToActionBox.rn_AppSupport .rn_CallToActionDesc h3,
.rn_CallToActionBox.rn_TouchlessTroubleshooting .rn_CallToActionDesc h3 {
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #000;
}
.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionContainer .rn_ImageContainer img,
.rn_CallToActionBox.rn_AppSupport .rn_CallToActionContainer .rn_ImageContainer img,
.rn_CallToActionBox.rn_TouchlessTroubleshooting .rn_CallToActionContainer .rn_ImageContainer img {
	height: 44px;
	width: 44px;
}

/* Bryce 9/20/22 */

.rn_CallToActionBox.rn_CallToActionBox25 .rn_CallToActionButtons.rn_CallToActionBox25 div {
	width: auto;
	margin: 0px;
	font-weight: bold;
	color: #01abf1;
	text-align: center;
	min-height: 20px;
	padding-top: unset;
}

.rn_CallToActionButton2.rn_ProdDetailRegister.rn_CallToActionBox25 {
	border-left: 1px solid black;
	padding-left: 6px;
}
.rn_Desktop {
	display: block;
}
.rn_Mobile {
	display: none;
}
@media all and (max-width : 1199px) {
	.rn_CallToActionBox.rn_CallToActionBox25 {
		width: 45%;
		margin: 15px 15px 30px;
	    position: relative;
	    float: left;
	}
	.rn_CallToActionBox.rn_CallToActionBox50 {
		width: 100%;
	    position: relative;
	    float: left;
	}
	.rn_CallToActionBox.rn_CallToActionBox50wMargin {
		width: 100%;
	    position: relative;
	    float: left;
	}
	#rn_WDMR_BUTTONS .rn_CallToActionBox.rn_WDMRNarVarCallToActionBox {
		border-top:none;
	}
	.rn_Returns2022_Steps.rn_CallToActionBox.rn_Returns2022_Step1 {
	margin: 16px 8px 16px 0px;
	}
	.rn_Returns2022_Steps.rn_CallToActionBox.rn_Returns2022_Step2 {
		margin: 16px 0px 16px 0px;
	}
	.rn_Returns2022_Steps.rn_CallToActionBox.rn_Returns2022_Step3 {
		margin: 16px 0px 16px 8px;
	}
	.rn_Returns2022_Steps.rn_CallToActionBox .rn_CallToActionContainer {
		padding-top: 10px;
		min-height: 320px;
		max-height: 360px;
	}
	.rn_RepairSummary.rn_CallToActionBox.rn_CallToActionBox33{
		margin:10px;
	}
	.rn_CallToActionBox.rn_RepairSummary .rn_CallToActionContainer .rn_CallToActionDesc span.rn_CallToActionSubText {
		max-width: 250px;
	}
}
@media all and (max-width : 991px) {
	.rn_CallToActionBox.rn_CallToActionBox25 {
		width: 45%;
		margin: 15px 15px 30px;
	    position: relative;
	    float: left;
	}
	.rn_CallToActionBox.rn_CallToActionBox50 {
		width: 100%;
	    position: relative;
	    float: left;
	}
	.rn_CallToActionBox.rn_CallToActionBox50wMargin {
		width: 100%;
	    position: relative;
	    float: left;
	}
	#rn_WDMR_BUTTONS .rn_CallToActionBox.rn_WDMRNarVarCallToActionBox {
		border-top:none;
	}

}
@media all and (max-width : 767px) {
	.rn_CallToActionBox.rn_CallToActionBox25 {
		width: 100%;
		margin: 15px auto;
	    position: relative;
	    float: left;
	}
	.rn_CallToActionBox.rn_CallToActionBox50 {
		width: 100%;
	    position: relative;
	    float: left;
	}
	.rn_CallToActionBox.rn_CallToActionBox50wMargin {
		width: 100%;
	    position: relative;
	    float: left;
	}
	.rn_CallToActionDesc span {
		padding: 0px 0px 0px 0px;
	}
	.rn_CallToActionBox.rn_CallToActionBox25 .rn_CallToActionButtons.rn_CallToActionBox25 div {
		text-align: center;
	}
	.rn_CallToActionBox.rn_CallToActionBox25 .rn_CallToActionDesc h3 {
		text-align: center;
		font-weight: bold;
	}
	#rn_WDMR_BUTTONS .rn_CallToActionBox.rn_WDMRNarVarCallToActionBox {
		border-top:none;
	}
	/* HOME PAGE 2022 */
	.rn_CallToActionBox.rn_ServiceCenterLocator, .rn_CallToActionBox.rn_AppSupport {
		margin-left: 0px;
	    padding-left: 0px;
	    border: 1px solid #969696;
	    border-radius: 9px;
	    min-height: 57px;
	    padding-top: 8px;
	    padding-bottom: 8px;
	    padding-right: 8px;
	}
	.rn_CallToActionBox.rn_TouchlessTroubleshooting {
		margin-left: 0px;
	    padding-left: 0px;
	    min-height: 57px;
	    padding-top: 8px;
	    padding-bottom: 8px;
	    padding-right: 8px;
		text-align: center;
	}
	
	.rn_CallToActionBox.rn_ServiceCenterLocator .rn_ImageContainer,
	.rn_CallToActionBox.rn_AppSupport .rn_ImageContainer,
	.rn_CallToActionBox.rn_TouchlessTroubleshooting .rn_ImageContainer	{
		width: 16%;
	    margin-left: 16px;
	    position: relative;
	    float: left;
	    display: inline-block;	
	}
	.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionDesc,
	.rn_CallToActionBox.rn_AppSupport .rn_CallToActionDesc {
		display: none;	
	}
	.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionButtons,
	.rn_CallToActionBox.rn_AppSupport .rn_CallToActionButtons,
	.rn_CallToActionBox.rn_TouchlessTroubleshooting .rn_CallToActionButtons	{
		float: left;
	    width: 79%;
	    display: inline-block;
	    position: relative;
	}
	.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionButtons div,
	.rn_CallToActionBox.rn_AppSupport .rn_CallToActionButtons div,
	.rn_CallToActionBox.rn_TouchlessTroubleshooting .rn_CallToActionButtons div {
		width: 100%;
		padding-top: 8px;
		max-width: 767px;
	}
	.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionButtons.rn_ServiceCenterLocator div {
		
	}
	.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionButtons,
	.rn_CallToActionBox.rn_AppSupport .rn_CallToActionButtons a div {
		width: 79%;
		max-width: auto;
		padding-top: 0px;
	}
	.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionButtons a div.rn_Desktop, .rn_CallToActionBox.rn_AppSupport .rn_CallToActionButtons a div.rn_Desktop {
		display: none;
	}
	.rn_CallToActionBox.rn_ServiceCenterLocator .rn_CallToActionButtons a div.rn_Mobile,
	.rn_CallToActionBox.rn_AppSupport .rn_CallToActionButtons a div.rn_Mobile,
	.rn_CallToActionBox.rn_TouchlessTroubleshooting .rn_CallToActionButtons a div.rn_Mobile	{
		display: inline-block;
	}
	.rn_CallToActionBox.rn_OrderStatus .rn_CallToActionButtons div {
		width: 100%;
		max-width: 90%;
	}
	/* CONTACT US FOOTER 2022 */
	.rn_CallToActionBox.rn_ContactUsFooterButtons .rn_CallToActionFooter {
		position: relative;
		display: inline-block;
	}
	.rn_CallToActionBox .rn_CallToActionButtons.rn_ContactUsFooterButtons {
		padding-bottom: 0px;
		margin-right: 0px;
	}
	.rn_ContactUsFooterMoreButtons.rn_CallToActionBox.rn_ContactUsButtons .rn_CallToActionButtons.rn_ContactUsButtons div {
		width: 100%;
		max-width: 90%%;
	}
	/* .rn_CallToActionBox100 */
	.rn_ContactUsFooterButtons.rn_CallToActionBoxSingle {
		width: 96%;
	    position: relative;
	    float: left;
	}
	/* rn_CallToActionBox50wMargin */
	.rn_ContactUsFooterButtons.rn_CallToActionBoxDouble {
		width: 47%;
		margin: 10px 10px 30px;
	    position: relative;
	    float: left;
	}
	/* rn_CallToActionBox33 */
	.rn_ContactUsFooterButtons.rn_CallToActionBoxTriple {
		width: 96%;
		margin: 15px 8px 16px;
		padding-bottom: 10px;
	    position: relative;
	    float: left;
	}
	.rn_CallToActionBox.rn_ContactUsFooterButtons {
		background: #FFFFFF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 6px;
	}
	.rn_CallToActionBox.rn_ContactUsFooterMoreButtons {
		box-shadow: none;
		border-radius: 0px;
		border: none;
	}
	.rn_CallToActionBox.rn_ContactUsFooterButtons.rn_ContactUsChat .rn_SpecialHeadline {
		margin-top: 10px;
	}
	.rn_CallToActionBox.rn_ContactUsFooterButtons .rn_CallToActionButtons.rn_ContactUsFooterButtons .rn_ContactusChatUnavail {
		background-color: #ffffff;
	    color: #0074B0;
	    border: none;
	    border-radius: 0px;
	    padding: 8px 24px;
	    width: 100%;
	}
	.rn_CalolToActionBox.rn_ContactUsFooterButtons .rn_CallToActionButtons.rn_ContactUsFooterButtons .rn_ContactusChatUnavail a {
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		color: #0074B0;
	}
	/* Contact Us 2022 Page */
	/* .rn_CallToActionBox100 */
	.rn_ContactUs2022.rn_CallToActionBox100 {
		width: 96%;
		margin: 15px 15px 30px;
	    position: relative;
	    float: left;
	}
	#rn_ContactUsOptions .rn_CallToActionBox.rn_ContactUs2022 {
		width: 96%;
	    position: relative;
	    float: left;
	}
	/* rn_CallToActionBox50wMargin */
	.rn_ContactUs2022.rn_CallToActionBox50wMargin {
		width: 96%;
		margin: 15px 15px 30px;
	    position: relative;
	    float: left;
	}
	/* rn_CallToActionBox33 */
	.rn_ContactUs2022.rn_CallToActionBox33 {
		width: 96%;
		margin: 15px 15px 30px;
	    position: relative;
	    float: left;
	}
	/* Repair Summary Page */
	/* .rn_CallToActionBox100 */
	.rn_RepairSummary.rn_CallToActionBox100 {
		width: 96%;
	    position: relative;
	    float: left;
	}
	#rn_ContactUsOptions .rn_CallToActionBox.rn_RepairSummary {
		width: 96%;
	    position: relative;
	    float: left;
	}
	/* rn_CallToActionBox50wMargin */
	.rn_RepairSummary.rn_CallToActionBox50wMargin {
		width: 47%;
		margin: 10px 10px 30px;
	    position: relative;
	    float: left;
	}
	/* rn_CallToActionBox33 */
	.rn_RepairSummary.rn_CallToActionBox33 {
		width: 96%;
		margin: 15px 15px 30px;
	    position: relative;
	    float: left;
	}
	/* Connected Page 2022 */
	.rn_CallToActionBox.rn_Connected2022.rn_ConnectedOtherIssues.rn_CallToActionBox25 {
		width: 47%;
	    margin: 0 auto;
	    padding-top: 8px;
	}
	.rn_CallToActionBox.rn_Connected2022.rn_ConnectedOtherIssue .rn_CallToActionContainer {
		padding: 0px;
		min-height: 240px;
	}
	.rn_CallToActionBox.rn_Connected2022.rn_ConnectedProductHelpLine .rn_CallToActionButtons div {
		width: 100%;
	}
	/* Returns Page 2022 */
	.rn_Returns2022_Steps.rn_CallToActionBox.rn_CallToActionBox33 {
		width: 100%;
	    position: relative;
	    float: left;
	    text-align: center;
	    margin: 8px 0px;
		padding: 0px 4px;
	    min-height: 280px;
	}
	/* Product Detail Page */
	.rn_CallToActionBox.rn_CallToActionBox25 .rn_CallToActionButtons.rn_CallToActionBox25 div, 
	.rn_CallToActionButton1.rn_ProdDetailRegister.rn_CallToActionBox25, .rn_CallToActionButton2.rn_ProdDetailRegister.rn_CallToActionBox25 {
		border-left: 0px solid #C4C4C4;
		padding-left: 0px;
		width: 100%;
	}
	.rn_CallToActionButtons.rn_ProdDetailRegister.rn_CallToActionBox25 {
		padding-left: 0px;
		width: 100%
	}
	.rn_CallToActionButton2.rn_ProdDetailRegister.rn_CallToActionBox25{
		border-left: none;
		padding-left: 0px;
	}
	.rn_CallToActionBox.rn_RepairSummary .rn_CallToActionContainer .rn_CallToActionDesc span.rn_CallToActionSubText {
		max-width: 400px;
	}
	
}
.rn_CallToActionBox .rn_CallToActionDesc span {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}