/**
 * base.css: Base CSS for Breadcrumbs
 */
.rn_Breadcrumbs {

}
.rn_Breadcrumbs a {
	font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.27px;
    color: #767676;
    text-decoration: none;
}
.rn_Breadcrumbs span {
	font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.27px;
    color: #767676;
    text-decoration: none;
}