

/**
 * base.css: Base CSS for TopQuestionsByCategory
 */
.rn_TopQuestionsByCategory.rn_ProductCategoryList {
	margin-top: 40px;
	margin-left:10%;
}

.rn_TopQuestionsByCategory .rn_HierList {
	margin-bottom: 25px;
	padding-right: 20px;
}

.rn_TopQuestionsByCategory .catBox .rn_TopAnswers li
{
	list-style-type: decimal;
	    font-size: 13px;
    font-weight: normal;
    font-family: 'ProximaNova-Light', sans-serif;
	color: #444444;
	line-height: 1em;

}
.rn_TopQuestionsByCategory .catBox a {
    font-size: 13px;
    font-weight: normal;
    font-family: 'ProximaNova-Light', sans-serif;
	color: #263591;
}
.rn_TopQuestionsByCategory .rn_ProductHeader {
    font-size: 14px;
    font-weight: normal;
    font-family: 'ProximaNova-Bold', sans-serif;
	color: #444444;
	line-height:14px;

}
.rn_TopQuestionsByCategory .rn_ProductContainer:before {
    content:" ";
    position: absolute;
    height: 300px;
    width: 2px;
    background: #f2f2f2;
	left: 49%
  }